<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <link
    rel="stylesheet"
    href="https://js.arcgis.com/4.11/dijit/themes/claro/claro.css"
  />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.options.mode === 'production') { %>
  <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", function() {
        navigator.serviceWorker.register("./service-worker.js")
          .catch(function() {
            console.log("Service Worker not loaded");
          });
      });
    }
  </script>
  <% } %>
</head>
<body>
  <noscript> JavaScript is required in order to use this app </noscript>
  <div id="app"></div>
  <div id="slider-left-container" style="display:none;">
    <span id="slider-left-header"></span><br>
    <select id="slider-left-select">
      <option value="high-to-low">High To Low Values</option>
      <option value="above-and-below">Above and Below Average</option>
    </select>
    <div id="slider-left">
  </div>
  <div id="slider-right-container" style="display:none;">
    <span id="slider-right-header"></span><br>
    <select id="slider-right-select">
      <option value="high-to-low">High To Low Values</option>
      <option value="above-and-below">Above and Below Average</option>
    </select>
    <div id="slider-right">
  </div>
</body>
</html>

